/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #ecb43de9;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para los encabezados H1 */
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
  }
  
  .animado {
    animation: entrar 1s ease-out;
  }
  
  @keyframes entrar {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  /* Estilo para el contenedor principal */
  .bloque1,
  .bloque2,
  .bloque3,
  .bloque4,
  .bloque5 {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffffdc;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .animado {
    animation: entrar 1s ease-out;
  }
  
  @keyframes entrar {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
   /* Estilo para el contenedor principal */
   .bloque1,
   .bloque2,
   .bloque3,
   .bloque4,
   .bloque5,
   .bloque6 {
     width: 80%;
     margin: 0 auto;
     background-color: #ffffff;
     padding: 20px;
     box-shadow: 0px 0px 10px 0px rgba(246, 244, 244, 0.2);
     margin-top: 50px;
     margin-bottom: 50px;
   }
  
   .animado {
    animation: entrar 1s ease-out;
  }
  
  @keyframes entrar {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
   /* Estilo para el contenedor principal */
   .bloque1,
   .bloque2 {
     width: 80%;
     margin: 0 auto;
     background-color: #fff;
     padding: 20px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
     margin-top: 50px;
     margin-bottom: 50px;
   }
  
   .titulo,
   .titulo {
     width: 80%;
     margin: 0 auto;
     background-color: #fff;
     padding: 20px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
     margin-top: 50px;
     margin-bottom: 50px;
   }
  

  /* Estilo para las imágenes */
  img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  /* Estilo para los párrafos */
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  /* Estilo para los encabezados H2 */
  h2 {
    font-size: 24px;
    margin-top: 30px;
  }
  
  /* Estilo para los enlaces */
  a {
    color: #008CBA;
    text-decoration: none;
  }
  
  /* Estilo para los enlaces al pasar el cursor por encima */
  a:hover {
    text-decoration: underline;
  }
  